{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-external-helpers"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}