{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-external-helpers",
    "babel-plugin-istanbul"
  ],
  "env": {
    "test": {
      "plugins": []
    }
  }
}